.login-form {

    padding: 2rem;
  
    > div {
      border: 2px solid #888;
      padding: 1rem 2rem;
      width: 50%;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      > div {
        margin-bottom: 1rem;
      }
    }
  
    input, label {
      display: block;
    }
  
    label {
      margin-bottom: 0.5rem;
    }
  
    input {
      border-radius: 4px;
      border: 1px solid #ccc;
      padding: 1rem 0.5rem;
      width: 100%;
      &::placeholder {
        color: #ddd;
      }
    }
  
    button {
      display: block;
      border-radius: 4px;
      background-color: #8bb0ff;
      border: 1px solid #506999;
      margin-left: auto;
      margin-right: auto;
      padding: 0.75rem;
      color: #fff;
      font-size: 120%;
  
    }
    button[disabled] {
      background-color: #cccccc;
      border: 1px solid #aaaaaa;
    }
  
    .error-message {
      color: red;
    }
  
  }