@font-face {
    font-family: "bitwise";
    src: url("./bitwise.ttf");
    
    }

  .four-o-four {
    cursor: pointer;
    margin: auto;
    .image{
        .sorry {
        max-height: 300px;
        max-width: 300px;
        opacity: 0.3;
        transition: 3s all;
        &:hover {
            opacity: 1;
        }
      }}
    
    .sign {
        color:white;
        font-family: bitwise;
        font-size: 24px;
        
    }
 
  }
  
  
  
  